<launch>
      <node name="videosubstream" pkg="x264_image_transport" type="vsubscriber" output="screen" ns="video_publisher">
          <param name="image_transport" value="x264"/>
       </node>

    <arg name="vsource" default="0" />
    <machine name="firefly" address="firefly" user="firefly" password="firefly" env-loader="/opt/ros/indigo/zjt.sh" />
    <node machine="firefly" name="video_publisher" pkg="x264_image_transport" type="vpublisher" output="screen" >
      <param name="video_sname" value="$(arg vsource)" />
      <param name="image_transport" value="x264"/>
    </node>


</launch>
